#order-received-table input{
    width:90px
}

.big-center-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order-received-table button{
    height:40px 
}

.big-center-flex h1{
    color: whitesmoke;
}

.date-picker{
    display: flex;

}

.infobar{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.infobar > div{
    margin: 5px;
}