.order-container {
    display: flex;
    height: 80vh;
}

.order-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;    
}

table {
    background-color: var(--lightest);
    border: 1px solid var(--darkest);
}
.order-side h1{
    color: var(--lightest);
}

th {
    width: 200px;
    border: 1px solid var(--darkest);
}

td {
    width: 200px;
    border: 1px solid var(--darkest);
    text-align: center;
}
