.table-top {
    height: 5vh;
    background-color: var(--lightest);
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    align-items: center;
    color: var(--lightest);
    max-width: 100%;
    padding: 20px 2%
}

.table-top input {
    height: 80%;
    width: 25vw;
    text-align: center;
}



.order-submit {
    width: 100vw;
    height: 5vh;
    background-color: var(--darkest);
    color: var(--lightest);
    font-size: 1.5rem;
}
.order-table {
    background-color: var(--middle-light);
}
.order-header {
    background-color: var(--lightest);
}
.order-header-title {
    background-color: var(--darkest);
}
.td-1 {
    width: 5vw;
}
.td-2 {
    width: 10vw;
}
.td-3 {
    width: 15vw;
}
.td-4 {
    width: 20vw;
}

/* modal styling */

.modal {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 500px;
    height: auto;
    overflow: auto;
    background-color: var(--darkest);
    top: 60%;
    transform: translate(-50%, -50%);
}
.modal-header {
    background-color: var(--darkest);
    text-align: center;
    color: var(--lightest)
}
.modal-body {
    background-color: var(--middle-light);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buy-table-top{
    color: white;
    /* background-color: var(--darkest); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}



@media screen and (max-width:700px) {
    .table-top.purchase-order-header{
        flex-direction: column;
        align-items: flex-start;
    }
}