.table-top-og {
    background-color: var(--darkest);
    color: var(--lightest);
    width: 100%;
    display: flex;
    justify-content: center;
}
.order-guide-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product-list-table th:last-child{
    width: 100px;
}