:root {
  --lightest: #e2e2e2;
  --middle-light: #b0b3b8;
  --middle: #3a3b3c;
  --middle-dark: #242526;
  --darkest: #171717;
}
* {
  font-family: 'Comfortaa', cursive;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}
body {
  margin: 0;
  background-color: var(--middle);
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
