:root {
  --lightest: #e2e2e2;
  --middle-light: #b0b3b8;
  --middle: #3a3b3c;
  --middle-dark: #242526;
  --darkest: #171717;
}
* {
  font-family: 'Comfortaa', cursive; 
}
body {
  margin: 0;
  font-family: 'Comfortaa', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--middle);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
