:root {
  --lightest: #e2e2e2;
  --middle-light: #b0b3b8;
  --middle: #3a3b3c;
  --middle-dark: #242526;
  --darkest: #171717;
  --main-font:'Comfortaa', cursive;

}
* {
  font-family: var(--main-font)
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}

#root,#root>div,.container,body{
  height: 100% !important;
}


body {
  margin: 0;
  background-color: var(--middle-light);
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-signup-logo {
  height: 100px;
}
.loginForm, .signupForm {
  background-color: var(--lightest);
  border-radius: 5px;
  padding: 40px;
  padding-bottom: 80px;
  align-items: center;
  text-align: center;
}

.loginCard, .signupCard {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

}

#loginHeader, #signupHeader {
  font-size: 40px;
  display: flex;
  justify-content: center;
  position:relative;
  color: var(--darkest);
}

input, button {
  border-style: solid;
  border-width: 1px;
}

#emailForm-Login,
#passwordForm-Login,
#usernameForm-Signup,
#emailForm-Signup,
#passwordForm-Signup,
#enterpriseForm-Signup,
#locationForm-Signup {
  display: flex;
  justify-content: center;
  position:relative;
  align-items: center;
  margin-bottom: 5px;
}

#emailInput-Login,
#passwordInput-Login,
#usernameInput-Signup,
#emailInput-Signup,
#passwordInput-Signup,
#confirmPasswordInput-Signup,
#enterpriseInput-Signup,
#locationInput-Signup,
#success-Login,
#errorMsg-Login,
#errorMsg-Signup,
#redirectSignup {
  height:35px;
  width: 275px;
  font-size:14pt;
  border-radius: 5px;
}

#emailInput-Login,
#passwordInput-Login,
#usernameInput-Signup,
#emailInput-Signup,
#passwordInput-Signup,
#confirmPasswordInput-Signup,
#enterpriseInput-Signup,
#locationInput-Signup {
  background-color: white;
}

.formInput-Login, .formInput-Signup {
  margin-left: 10px;
}

#submitBtn-Login, #submitBtn-Signup {
  margin: 0;
  left: 50%;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

#submitBtn-Login {
  margin-top: 3%;
  top: 77%;
}

#submitBtn-Signup {
  margin-top: 3%;
  top: 85%;
}

button:hover {
  /* background-color: var(--lightest); */
  color: orange;
  transition: 0.3s;
}

#success-Login {
  color: var(--lightest);
  top: 55%;
}

.redirectSignup {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}
.link-text-ls {
  color: var(--darkest) !important;
}


.redirectSignup:hover {
  color: rgb(116, 116, 116);
  transition: 0.3s;
}

#errorMsg-Login, #errorMsg-Signup {
  display: flex;
  justify-content: center;
  position:relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  height: 40px;
  width: 100px;
  padding-bottom: 60px;
  font-size: 16px;
  color: rgb(255, 109, 109);
  animation: blinker 1s linear infinite;
}

.product-selector-cont{
  background-color: var(--lightest);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  width:100vw
}

.product-selector-cont select{
  font-size: 1.1rem;
}

.analysis-table {
  margin:20px auto;
}

input[type="submit"],button{
  cursor: pointer;
}





@keyframes blinker {
  50% {
    opacity: 0;
  }
}