.drop-zone-cont{
    border: 10px solid black;
    padding:5px;
}

.drop-zone{
    height: 100px;
    width: 100%;
    /* background: red; */
    color: var(--lightest);
    border: 5px dotted var(--middle-dark);
    box-sizing: border-box;
    text-align: center;
    position:relative
}

.drop-zone::after{
    content:"Drop Image File Here";
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#fileElem{
    display: none;
}

.select-btn{
    background-color: var(--lightest);
}

.drop-zone.highlight{
    background:var(--darkest);
    opacity:.2
}

.dropped-image-cont{
    display: flex;
    justify-content: center;
    background-color: var(--middle-dark);
    padding:2px;
    border:10px solid var(--middle-light)
}

.dropped-image{
    width: 100px;
    height: 100px;
    border: 3px solid var(--lightest);
    margin: auto;
}