.add-user-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user-section h1{
    text-align: center;
    color: white;
}

.add-user-section form{
    width: 300px;
    color: var(--darkest);
    background-color: var(--lightest);
    border-radius: 5px;
    padding: 40px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.add-user-section input{
    margin-bottom: 20px;
    font-size: 1.3rem;
    padding:.3em 0;
    text-align: center;
}

.add-user-section button{
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--lightest);
    background-color: var(--darkest);
}

.add-user-section button:hover {
    color: orange;
    }
