.add-user-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user-section h1{
    text-align: center;
    color: white;
}

.add-user-section form{
    width: 300px;
    color: var(--darkest);
    background-color: var(--lightest);
    border-radius: 5px;
    padding: 40px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.add-user-section input{
    margin-bottom: 20px;
    font-size: 1.3rem;
    padding:.3em 0;
    text-align: center;
}

#addUserButton{
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--lightest);
    background-color: var(--darkest);
}
