.employee-roster-cont{

    
    display: flex;
    color: #ddd8d8;
    flex-direction: column;
    align-items: center;
}

.employee-cont{
    display: flex;
    align-items: center;
    background-color: var(--lightest);
    justify-content: space-between;
    width:500px;
}

.employee-cont h2,h3{
    color: var(--darkest);
    padding:1rem;
    /* border:2px solid var(--darkest); */
    margin:0;
    font-size: 0.9rem;
}


.employee-cont button{

    font-size: 0.9rem;
    border:2px solid var(--darkest);
    background-color: var(--lightest);
    cursor: pointer;
    height: 3rem;
}

.employee-cont button:hover{
    background-color:  hsl(0, 0%, 80%);
    color: var(--darkest);
}
