.avatar-image-settings {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
}
.settings-menu {
    background-color: var(--middle);
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.set-avatar {
    background-color: var(--darkest);
    color: var(--lightest);
}
.settings-header {
    background-color: var(--darkest);
    color: var(--lightest);
    width: 100%;
    text-align: center;
}
.drop-container {
    width: 50%;
    background-color: var(--middle-dark);
}