.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    /* grid-template-rows: repeat(3, 200px); */
    grid-gap: 30px;
    justify-content: center;
    height: 80vh;
}
.grid-container-order {
    grid-template-columns: 250px 50px 250px 50px 250px 50px 250px;
}
.grid-container-settings {
    grid-template-columns: repeat(3, 250px);
}

.dash-grid-main {
    grid-row-start: 2;
}
.gi-2 {
    grid-column-start: 2;
}
.gi-3 {
    grid-column-start: 3;
}
.gi-8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gi-9 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.button-icon {
    height: 100px;
    width: 100px;
}

.task {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.task-header {
    background-color: var(--task-header-background);
    height: 25%;
    color: var(--task-header-color);
    text-align: center;
}

.task-image {
    height: 75%;
    background-color: var(--task-body-background);
    display: flex;
    justify-content: center;
    align-items: center;
}