header {
    background-color: var(--header-background);
    color: var(--header-text);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.header-avatar {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
}

.avatar-image, .header-avatar > img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* border: 1px solid var(--darkest); */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.header-welcome {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-logo {
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: var(--main-font);
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0;
    color: var(--header-text)!important;
}
header p {
    font-size: 1.2rem;
    margin: 0;
    color: var(--header-sub-text)!important;
}

@media screen and (max-width:750px) {
    header{
        height: 9vh;
    }
    header h1{
        font-size: 1.2rem;
    }
    header p{
        font-size: 0.9rem;
    }
}


@media screen and (max-width:600px) {
    header{
        height: 5vh;
    }
    header h1{
        font-size: 1rem;
    }
    header p{
        font-size: 0.8rem;
    }
}