header {
    background-color: var(--header-background);
    height: 12vh;
    color: var(--header-text);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-rows: 1fr;
}
.header-avatar {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-avatar img {
    height: 80px;
    width: 80px;
}
.header-welcome {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-logo {
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: var(--main-font);
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0;
    color: var(--header-text)!important;
}
header p {
    font-size: 1.2rem;
    margin: 0;
    color: var(--header-sub-text)!important;
}
.header-linker {
    display: none;
}
@media screen and (max-width:750px) {
    header{
        height: 9vh;
    }
    header h1{
        font-size: 1.2rem;
    }
    header p{
        font-size: 0.9rem;
    }
}


@media screen and (max-width:600px) {
    header{
        height: 5vh;
    }
    header h1{
        font-size: 1rem;
    }
    header p{
        font-size: 0.8rem;
    }
}