.mini-nav {
    background-color: var(--darkest);
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
    align-items: center;
}

.mini-nav-buttons {
    background-color: var(--darkest);
    color: var(--lightest);
    border: none;
}

.mini-nav-buttons:hover {
    background-color: var(--lightest);
    color: var(--darkest);
    border: none;
}