.mini-nav {
    background-color: var(--darkest);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.mini-nav-buttons {
    background-color: var(--darkest);
    color: var(--lightest);
    border: none;
    padding:5px;
    font-size: 15pt;
}
.mini-nav-buttons:hover {
    cursor: pointer;
    background-color: var(--darkest);
}