.mini-nav {
    background-color: var(--darkest);
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    align-items: center;
}

.mini-nav-buttons {
    background-color: var(--darkest);
    color: var(--lightest);
    border: none;
    font-size: 15pt;
    cursor: pointer;
}
