.add-product-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.add-product-header {
    display: flex;
    justify-content: center;
    background-color: var(--table-top);
}
.add-product-header h1 {
    color: var(--table-top-text);
}

form {
    color: var(--darkest);
}
.add-product-form {
    padding: 2%;
    background-color: var(--add-product-background);
    max-width: 100%;
    color:var(--add-product-color)
}
input {
    background-color: var(--input-background);
    color: var(--input-color);
    font-size: 16pt;
}
#add-product-submit {
    height: 100px;
    background-color: var(--big-button-background);
    border: none;
    width: 100%;
    color:var(--big-button-text)
}
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-product-list {
    width: 100%;
}


@media screen and (max-width:900px){
 .add-product-body{
     flex-direction: column;
     align-items: center;
 }   
}