.add-product-body {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 40vw;
}
.add-product-header {
    display: flex;
    justify-content: center;
    background-color: var(--darkest);
    border-radius: 15px 15px 0 0
}
.add-product-header h1 {
    color: var(--lightest);
}

form {
    display: flex;
    flex-direction: column;
    color: var(--darkest);
    justify-content: space-between;
}
.add-product-form {
    padding: 2%;
    background-color: var(--lightest);
}
input {
    background-color: var(--lightest);
    color: var(--darkest);
    font-size: 14pt;
}
#add-product-submit {
    height: 100px;
    border-radius: 0 0 15px 15px;
    background-color: var(--darkest);
    color: var(--lightest);
    border: none;
}
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-product-list {
    width: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media screen and (max-width:900px){
 .add-product-body{
     flex-direction: column;
     align-items: center;
 }   
}