.add-product-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.add-product-header {
    display: flex;
    justify-content: center;
    background-color: var(--darkest);
}
.add-product-header h1 {
    color: var(--lightest);
}

form {
    color: var(--darkest);
}
.add-product-form {
    padding: 2%;
    background-color: var(--lightest);
    max-width: 100%;
}
input {
    background-color: var(--lightest);
    color: var(--darkest);
    font-size: 16pt;
}
#add-product-submit {
    height: 100px;
    background-color: var(--darkest);
    color: var(--lightest);
    border: none;
    width: 100%;
}
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-product-list {
    width: 100%;
}


@media screen and (max-width:900px){
 .add-product-body{
     flex-direction: column;
     align-items: center;
 }   
}