.product-list-table {
    background-color: var(--table-background);
    border: 1px solid var(--darkest);
    width: 50vw;
}


th {
    border: 1px solid var(--darkest);
    padding: 5px;
}

td {
    border: 1px solid var(--darkest);
    text-align: center;
    padding: 5px;
}

.table-image{
    height: 75px;
    width: 75x;
}